.about{
    margin-top: 56px;
    min-height: calc(100vh - 56px);
}
.about-brand {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
}
.about-musician {
    text-align: center;
}
.About-brand-name {
    font-family: 'Josefin Sans', sans-serif;
}
.about-musician-details {
    text-align: justify;
}
.musician-info-bg {
    background-color: rgba(12, 73, 68, 0.6);;
}
.musician-info {
    padding: 20px 0;
    width: 700px;
}