.homepage{
    margin-top: 56px;
}
.home-container {
    /* background-color: rgba(32, 190, 218, 0.479); */
    min-height: calc(100vh - 56px);
}
.brand {
    font-size: 6rem;
    font-family: 'Josefin Sans', sans-serif;
}
.service-btn {
    background-color: rgb(15, 97, 90);
    color: white;
}